[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
gunicorn = "*"

[packages]
flask-restful = "*"
pyjwt = "*"
mongoengine = "*"
cryptography = "*"
bit = "*"
bitcash = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
